{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Payment details" %}{% endblock %}

{% block payment_method %}
    <div class="col-sm-6">
        <div class="sub-header">
            <h2>{% trans "Payment" %}</h2>
        </div>
        <div class="card card-body bg-light card card-body bg-light-success">
            <p>{% trans "Please send the payment to the following BTC address once you have placed the order." %}</p>
            <img src="https://static-unitag.com/images/help/QRCode/qrcode.png?mh=07b7c2a2" width="50%" style="margin: 0 auto;"/>
            <br>
            <h3>as451a54q2645dz7asd454g44g7red5aa454d4s</h3>
        </div>
    </div>
{% endblock %}

{% block place_order %}
    <form method="post" action="{% url 'checkout:preview' %}" id="place_order_form">
        {% csrf_token %}
        <input type="hidden" name="action" value="place_order" />

        {% comment %}
            When submitting sensitive data on the payment details page (eg a bankcard)
            we don't want to save the data and so we pass the bound form to the preview
            template and render it in a hidden div.  Then the payment information will
            get re-submitted when the user confirms the order.
        {% endcomment %}
        <div style="display:none">
            {% block hiddenforms %}{% endblock %}
        </div>

        <div class="form-group clearfix">
            <div class="row">
                <div class="col-sm-3 offset-sm-9">
                     <button id='place-order' type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Submitting...' %}">{% trans "Place order" %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock place_order %}